body{
    font-family: 'Poppins', sans-serif;
}
.Poppins{
    font-family:'Poppins', sans-serif;
}
.btn-cstm{
    background-color: #E76F51 !important;
    color: white !important;
    font-family:'Poppins', sans-serif !important;
    padding:10px 30px !important;
}
.customp{
    color:#E76F51 ;
}
.gray-fil{
    filter: grayscale(100%);
}
